{% extends "base.html" %}

{% block title %}SmartNinja Chat Edit Profile{% endblock title %}

{% block content %}

<form method="post">
    <p>
        <strong>Your name:</strong>
        <input type="text" value="{{ user.name }}" name="profile-name">
    </p>
    <p>
        <strong>Your email:</strong>
        <input type="email" value="{{ user.email }}" name="profile-email">
    </p>
    <button>Submit</button>
</form>
<br><br>
    <p>
        <a href="/profile/delete">Delete profile</a>
    </p>

{% endblock content %}